doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./assets/css/styles.css")
        title Antojitos CANDY
    body 
        section.background-image
        header
            .navbar     
                .navbar-left 
                .navbar-center 
                .navbar-right 
                    button.menu-download
                        a(href="http://" onClick="return false") Descarga PDF
        main
            section.section-container.glasmorph
                section.portrait
                section.daily-menu-container
                    div.daily-menu.menu-1
                        .menu-content 
                            p Tradicionales Tacos 
                            ul 
                                li Bisteck 
                                li Carne deshebrada 
                                li pollo 
                            span Cada orden inlcuye x tacos
                        .menu-image
                    div.daily-menu.menu-2
                        .menu-content
                            p Empanadas 
                            ul 
                                li Carne deshebrada 
                                li Pollo 
                                li Carne Molida
                                li Papa
                                li Queso 
                            span Cada orden inlcuye x empanadas
                        .menu-image
                    div.daily-menu.menu-3
                        .menu-content 
                            p Molotes 
                            ul 
                                li Carne deshebrada 
                                li Pollo 
                                li Carne Molida
                                li Papa
                                li Queso 
                            span Cada orden inlcuye x molotes
                        .menu-image
                    
        footer 