doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./assets/css/styles.css")
        title Antojitos CANDY
    body 
        section.background-image
        header
            .navbar     
                .navbar-left 
                .navbar-center 
                .navbar-right 
                    button.menu-download
                        a(href="http://" onClick="return false") Descarga PDF
        main
            section.section-container.glasmorph
                section.portrait
                section.daily-menu-container
                    div.daily-menu.menu-1
                        .menu-content 
                            p Tradicionales Tacos 
                            ul 
                                li Bisteck 
                                li Carne deshebrada 
                                li pollo 
                            span Cada orden inlcuye x tacos
                        .menu-image
                    div.daily-menu.menu-2
                        .menu-content
                            p Empanadas 
                            ul 
                                li Carne deshebrada 
                                li Pollo 
                                li Carne Molida
                                li Papa
                                li Queso 
                            span Cada orden inlcuye x empanadas
                        .menu-image
                    div.daily-menu.menu-3
                        .menu-content 
                            p Molotes 
                            ul 
                                li Carne deshebrada 
                                li Pollo 
                                li Carne Molida
                                li Papa
                                li Queso 
                            span Cada orden inlcuye x molotes
                        .menu-image
                section.map 
                    p ¡Ven a conocernos!
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d329.30718515478026!2d-97.32853798635229!3d20.96514143174365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x479af50adee1571e!2sAntojitos%20%22Candy%22!5e0!3m2!1ses-419!2smx!4v1648834444592!5m2!1ses-419!2smx" " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    
        footer 