div(class="w-full grid grid-temp text-light p-64 bg-black text-white")
    div(id="contacto" class="flex flex-col max-400 text-center p-24")
        span(class="p-24 text-bold") CONTACTO
        //- span(class="p-12 ") Carretera a la barra norte Km. 8.5, La mata de tampamachoco, Tuxpan, Veracruz.
    div(id="atencion" class="flex flex-col  max-400 text-center")
        span(class="p-24 text-bold") HORARIO DE ATENCIÓN
        span(class="p-12") ...
        //- span(class="p-12") 10:00 am - 6:00 pm
//- div(id="social" class="w-full h-24")
//-     span Hola