.navbar(id="full-navbar")     
    .navbar-left 
        button.openbtn(onclick="openNav()")
            i.fa-solid.fa-bars(class="text-white")
    .navbar-center 
    .navbar-right 
        p Antojitos 
            span CANDY
    +menu