mixin menuItem(url,name,icon)
    .menu-button 
        span.fa-solid(class=icon)
        a(href=url onclick="return false")=name 
        

mixin menu
    .sidebar#mySidebar
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        +menuItem("","Tortas y Tacos","fa-cookie")
        +menuItem("","Tradicional","fa-utensils")
        +menuItem("","Platillos","fa-bowl-food")
        +menuItem("","Postres y Bebidas","fa-glass-water")
        +menuItem("","Descarga el menú","fa-solid fa-cloud-arrow-down")